{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
<div class="container">
<div class="page-header">
  <h5>Add a course</h5>
</div>
<div class="row">
    <div class="col s12">
        <form action="{% url 'add_course' %}" method="POST">
            {% csrf_token %}
            {% include 'portal/basic_form.html' with form=form %}
            <input type="submit" class="btn btn-primary light-blue accent-3" value="Add course">
        </form>
    </div>
</div>
</div>
{% endblock %}