{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
{% if course_saved %}
    <div class="alert alert-success">
        <p>"{{ course.course_number }} - {{ course.course_name }}" was saved successfully.</p>
    </div>
{% endif %}
<div class="container">
<div class="page-header">
  <h5>Edit course</h5>
</div>
<div class="row">
    <div class="col s12">
        <form action="{% url 'edit_course' course.id %}" method="POST">
            {% csrf_token %}
            {% include 'portal/basic_form.html' with form=form %}
            <input type="submit" class="btn btn-primary light-blue accent-3" value="Submit edit">
        </form>
    </div>
</div>
</div>
{% endblock %}