    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top topnav" role="navigation">
        <div class="topnav" style="width:95%">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="brand-logo center" href="#"><a href="{% url 'home' %}">Virtualecture</a></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-top:7px">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" style="margin-top:-17px">
                      Login
                    </button>
                </ul>                   
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

     <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Login</h4>
                          </div>
                          <div class="modal-body">
                                <form action="{% url 'login' %}" method="POST">
                                    {% if no_user_found %}
                                        Username and password do not match.
                                    {% endif %}
                                    {% if professor_inactive %}
                                        Your professor account has not yet been activated.
                                    {% endif %}
                                    {% csrf_token %}
                                    {% include 'portal/basic_form.html' with form=login_form %}
                                    <input type="submit" class="btn btn-primary" value="Login">
                                </form>
                          </div>
    </div> <!-- end modal -->