{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
<div class="container">
{% if notification %}
<div class="alert alert-success">
    <p>{{ notification }}</p>
</div>
{% endif %}
<div class="page-header">
  <h5>Recommend a course at your school</h5>
</div>
<div class="row">
    <form action="{% url 'recommend' %}" method="POST">
        {% csrf_token %}
        {% include 'portal/basic_form.html' with form=form %}
        <input type="submit" value="Submit">
    </form>
</div>
</div>
{% endblock %}