{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
{% if notification %}
{% endif %}
<div class="container">
{% if notification %}
<div class="alert alert-success">
    <p>{{ notification }}</p>
</div>
{% endif %}
<div class="page-header">
  <h5>Administrator Portal for {{ school }}</h5>
</div>

<div class="row">
    <div class="col s6">
        <div class="collection">
            <h4>Pending Professors</h4>
            {% if professors_awaiting_approval %}
                <table class="table table-striped">
                <tr>
                    <th>E-mail</th>
                    <th>Approve</th>
                </tr>
                {% for professor in professors_awaiting_approval %}
                    <tr>
                        <td>
                            {{ professor.user.username }}
                        </td>
                        <td>
                            <form style="display:inline-block" action="{% url 'activate_professor' professor.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Approve account">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <li>There are currently no professors awaiting approval.</li>
            {% endif %}
        </div>
    </div>
    <div class="col s6">
        <ul class="collection with-header">
            {% if professors %}
                <li class="collection-header"><h4>Registered Professors</h4></li>
                    {% for professor in professors %}
                        <li class="collection-item"><div>
                            {{ professor.user.username }}
                        <a class = "modal-trigger secondary-content" href="#profmodal"><i class="material-icons">info</i></a></div></li>

                            <div id="profmodal" class="modal">
                                <div class="modal-content">
                                    <h4>{{professor.user.username}}</h4>
                                    <ul class="collection">
                                        <li class = "collection-item">
                                            {% for course in professor.course_set.all %}
                                                {% if course.professor == professor %}
                                                    {{course.course_name}}
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    <form style="display:inline-block" action="{% url 'delete_professor' professor.id %}" method="POST">
                                       {% csrf_token %}
                                        <input type="submit" value="Remove">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <a href="#!" class=" modal-action modal-close btn-flat">Close</a>
                                </div>
                              </div>

                    {% endfor %}
            {% else %}
                <li>There are currently no professors registered.</li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col m6">
    <div class="collection">
        <h4>Course Requests</h4>
        <table class="table table-striped">
            <tr>
                <th>Course number</th>
                <th>Recommendations</th>
            </tr>
            {% for recommendation in recommendations %}
                <tr>
                    <td>{{ recommendation.course_number }}</td>
                    <td>{{ recommendation.num_recommendations }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
</div>

</div>

<script>
$(document).ready(function() {
  $('.modal-trigger').leanModal();
});
</script>
{% endblock %}