{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
<div class="container">
<div class="page-header">
    <h5>Courses you can stream</h5>
</div>
<div class="row">
    {% if courses %}
        {% for course in courses %}
            <div class="col s4">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title"><h6>{{ course.course_number}}</h6></span>
                        <p>{{ course.course_name }}</p>
                        <div class="card-action">
                            <a href="{% url 'stream_course' course.id %}" class="btn-floating light-blue accent-3 card-icon" role="button"><i class="material-icons">videocam</i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-sm-12">
            <p>You do not have permission to stream any courses.</p>
        </div>
    {% endif %}
</div>

{% endblock %}