{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
<div class="container">
<div class="page-header">
    <h5>You are now viewing {{ stream.course.course_number }}</h5>
</div>
<div id="vid-box"></div>
<div id="stream-info">Watching: <span id="here-now">0</span></div>
</div>
<script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script>
<script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script>
<script src="https://cdn.pubnub.com/webrtc/rtc-controller.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        watch();
    })
    var video_out  = document.getElementById("vid-box");
    var here_now   = document.getElementById('here-now');
    var stream_info= document.getElementById('stream-info');
    var streamName = "{{ stream.stream_key }}";
    function watch(){
        var num = streamName;
        var phone = window.phone = PHONE({
            number        : "Viewer" + Math.floor(Math.random()*100), // listen on username line else random
            publish_key   : 'pub-c-6a77e612-56ad-4759-9c48-74c03cce88c6', // Your Pub Key
            subscribe_key : 'sub-c-325dc3ea-787f-11e6-9abc-0619f8945a4f', // Your Sub Key
            oneway        : true
        });
        var ctrl = window.ctrl = CONTROLLER(phone);
        ctrl.ready(function(){
            ctrl.isStreaming(num, function(isOn){
                ctrl.joinStream(num);
            });
            addLog("Joining stream  " + num); 
        });
        ctrl.receive(function(session){
            session.connected(function(session){ 
                video_out.appendChild(session.video); 
                addLog(session.number + " has joined.");
                stream_info.hidden=false;
                $('#vid-box video').css('display', 'block').css('margin', '0 auto');
            });
            session.ended(function(session) { addLog(session.number + " has left."); });
        });
        ctrl.streamPresence(function(m){
            here_now.innerHTML=m.occupancy;
            addLog(m.occupancy + " currently watching.");
        });
    }
    function getVideo(number){
        return $('*[data-number="'+number+'"]');
    }
    function addLog(log){
        $('#logs').append("<p>"+log+"</p>");
    }
    function errWrap(fxn, form){
        try {
            return fxn(form);
        } catch(err) {
            alert("WebRTC is currently only supported by Chrome, Opera, and Firefox");
            return false;
        }
    }
</script>
{% endblock %}