html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body {
   
    font-family: "Roboto";
    font-weight: 300;
}

h1 {
	font-weight: 200;
	text-align: center;
}

h4 {
	font-weight: 300;
	text-align: center;
}

h6{
	font-size:15pt;
}

p{
	text-align: center;
}

nav ul a{
	color:white !important;
}

.brand-logo a{
	color: #73B2B2;
	text-decoration:none;
}

.button-text{
	color:black !important;
}
.navbar{
/*	background-color:#f44336;
*/}

.container{
	margin-top:50px;
}

.page-header h5{
	font-weight:600;
}

.brand-logo a{
	font-weight:bold;
}

.btn-large i{
	font-size:2.5rem;
}

.card-button{ 

}

.card-action{
	padding:10px 0px 0px 0px !important;
}


.sign_up_text a{
	position:relative;
	top:10px;
	font-size:12px;
}


.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/lecture.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #00FFFF;
    border-bottom: 4px solid black;
}

.content-section-b {
    background-color: #bddbdb;
    padding: 50px 0;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.content-section-c {
    background-color: white;
    padding: 50px 0;
    border-top: 10px solid black;
    border-bottom: 4px solid black;
}
.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: grey;
}

p.copyright {
    margin: 15px 0 0;
}

.modal{
	max-height:90% !important;
	height:90% !important;
}

#signup-modal{
	top:5% !important;
}

.text-muted {
  color: black;
}
.text-primary {
  color: black;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #00FFFF;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #73B2B2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #73B2B2; 
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.team {
  list-style: none;
  padding: 0;
  position: relative;
}
.team:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: black;
  left: 40px;
  margin-left: -1.5px;
}
.team > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.team > li:before,
.team > li:after {
  content: " ";
  display: table;
}
.team > li:after {
  clear: both;
}
.team > li .team-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.team > li .team-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.team > li .team-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.team > li .team-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #00FFFF;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.team > li .team-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.team > li.team-inverted > .team-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.team > li.team-inverted > .team-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.team > li.team-inverted > .team-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.team > li:last-child {
  margin-bottom: 0;
}
.team .team-heading h4 {
  margin-top: 0;
  color: inherit;
}
.team .team-heading h4.subheading {
  text-transform: none;
}
.team .team-body > p,
.team .team-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .team:before {
    left: 50%;
  }
  .team > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .team > li .team-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .team > li .team-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .team > li .team-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .team > li.team-inverted > .team-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .team > li {
    min-height: 150px;
  }
  .team > li .team-panel {
    padding: 0 20px 20px;
  }
  .team > li .team-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .team > li .team-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  .team > li.team-inverted > .team-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .team > li {
    min-height: 170px;
  }
  .team > li .team-panel {
    padding: 0 20px 20px 100px;
  }
  .team > li .team-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .team > li .team-image h4 {
    margin-top: 40px;
  }
  .team > li.team-inverted > .team-panel {
    padding: 0 100px 20px 20px;
  }

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
